/* body {
  margin: 0;
  min-height: 100vh;
  background-color: #6318AF;
  color: black;
  font-family: sans-serif 'Comic Neue', cursive;
  font-weight: 700;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-login {
height: 64px;
width: 345px;
left: 788px;
top: 540px;
border-radius: 100px;
background: rgba(255, 186, 0, 1);
color: #FFF;


} */