.login-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-style: 'Open Sans';
  /* Rectangle 2168 */
  min-height: 100vh;

  background-image: url(../../assets/img/1.png);
}

.login-container>div {
  margin: 10px;
}

.logo-container {
  display: flex;
  justify-content: center;
}

img {
  width: 234.88px;
  height: 88px;
}

.btn-login-container {
  display: flex;
  justify-content: center;
  padding-top: 20px;
}

.btn-acc-container {
  margin-top: 18px;
  display: flex;
  justify-content: center;


}

.web-link-container {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  display: flex;
  justify-content: flex-start;
  padding-left: 40px;
  padding-bottom: 40px;


}

.web-link-container>p {
  color: #FFF;
}

a {
  color: #FFBA00;
  ;
}